@model FizzleBizzleTest.Models.FizzleBizzle

@{
    ViewBag.Title = "Fizzle Bizzle Test";
}

<div class="jumbotron fizzbizz-container">

    <div class="row">
        <div class="col-lg-12">
            <div class="page-header fizzlebizzle-header">
                <h1>Fizzle Bizzle Test</h1>
            </div>
        </div>
    </div>
  
    <div class="row">
        <div class="col-lg-12">
            <p class="lead">
                <b>FizzBuzz</b> generates an array of strings representing the consecutive sequence of integers
                from start to end. When the integer is a multiple of Fizz, the string "Fizz" is added instead. Likewise, for
                multiplesof Buzz, "Buzz" is added. For multiples of both Fizz and Buzz, "FizzBuzz" is added.
            </p>
            <div class="well for-example">
                <h2>For example:</h2>
                <p>
                    With Fizz = 3, Buzz = 5, start = 1, and end = 15; the array looks like:
                    ["1","2","Fizz","4","Buzz","Fizz","7","8",...,"14","FizzBuzz"]
                </p>
            </div>
        </div>
    </div>
    
</div>